#
# NOME DELLA CLASSE CHE IMPLEMENTA ChannelConfiguratorMBean 
#
channel.mbean=org.underground.module.channel.base.mbean.ChannelConfigurator

#
# NOME DELLA CLASSE CHE IMPLEMENTA ChannelEngine 
#
channel.engine=org.underground.module.channel.base.BaseChannelEngine

#
# NOME DELLA CLASSE CHE IMPLEMENTA ActionReceiver 
#
channel.action.receiver=org.underground.module.channel.base.receiver.support.BaseIocReceiver

#
# NOME DELLA CLASSE CHE IMPLEMENTA InputMapper 
#
channel.action.mapper=org.underground.module.channel.base.mapper.support.BaseInputMapper

#
# NOME DELLA CLASSE CHE IMPLEMENTA FlowSequencer 
#
channel.flow.sequencer=org.underground.module.channel.base.handler.support.BaseFlowSequencer

#
# NOME DELLA CLASSE CHE IMPLEMENTA ConfigRepository
#
channel.configuration.repository=org.underground.module.channel.base.config.support.XMLConfigRepository

#
# PATH DI DEFAULT DOVE SI TROVANO I FILE DI CONFIGURAZIONE
#
channel.configuration.file.default.path=sinapse_underground/channel/

#
# NOME DEL FILE DI CONFIGURAZIONE DEI CHANNEL
#
channel.configuration.file.config=channels.xml

#
# NOME DEL O DEI FILE DI CONFIGURAZIONE DELLE ACTION
#
# ATTENZIONE: i file devono essere separati dal carattere | (pipe)
#
#   AD ESEMPIO: action_gp.xml|action_icce.xml|action_vete.xml
#
channel.configuration.file.receiver=actions.xml

#
# SE VALE 'true' VERRANNO AGGIUNTI TUTTI I PARAMETRI PERVENUTI
# NELLA RICHIESTA INVIATA AL MODULO CHANNEL
#
channel.servlet.info.allparam=true

#
# SE VALE 'true' INDICA CHE L'OGGETTO HttpServletRequest
# DEVE ESSERE PROPAGATO AL BUSINESS
#
channel.servlet.info.request=true

#
# SE VALE 'true' INDICA CHE L'OGGETTO HttpServletResponse
# DEVE ESSERE PROPAGATO AL BUSINESS
#
channel.servlet.info.response=false

#
# Character encoding settato nella servlet per la request
# Opzionale, se assente il default è UTF-8
#
channel.servlet.character.encoding=UTF-8

#
# NOME DELLA CLASSE DI DEFAULT CHE IMPLEMENTA WebService
#
# nel caso in cui non venga trovata una proprieta' con alias inviato
# verra' utilizzata questa implementazione.
#
channel.webservice.classname.default=org.underground.library.soap.ws.BaseWebService

#
# SE SI VOGLIONO ESPORRE PIU' DI UN WEB SERVICE E' NECESSARIO DEFINIRE
# UNA PROPRIETA' PER OGNI CLASSE CHE IMPLEMENTA WebService UTILIZZANDO 
# IL NOME DEL WEB SERVICE ESPOSTO IN QUESTO MODO:
# 
#	channel.webservice.classname.<ALIAS/NOME DEL WEB SERVICE ESPOSTO>=<NOME COMPLETO DELLA CLASSE>
#
#   ESEMPIO:
#
#	channel.webservice.classname.SebMedici=org.underground.library.siss2.ws.Siss2WebService
#
#channel.webservice.classname.SebMedici=org.underground.library.siss2.ws.Siss2WebService
#channel.webservice.classname.TestMedici=org.underground.library.soap.ws.BaseWebService

#
# NOME DELLA CLASSE DI DEFAULT CHE IMPLEMENTA WebService
#
# ATTENZIONE: questa proprieta' NON deve essere piu' utilizzata perche' 
#             non e' garantito l'utilizzo in quanto sostituita da altre
#
#channel.webservice.classname=org.underground.library.siss2.ws.Siss2WebService

#
# SE VALE 'true' INDICA CHE TUTTO IL MESSAGGIO 
# SOAP SOTTO FORMA DI STRINGA DEVE ESSERE PROPAGATO
# AL BUSINESS 
#
# Può assumere solo i valori boolean true o false
#
channel.webservice.info.xml=true

#
# SE VALE 'true' INDICA CHE L'HEADER DELLA RICHIESTA SOAP
# DEVE ESSERE PROPAGATO AL BUSINESS 
#
# Può assumere solo i valori boolean true o false
#
channel.webservice.info.header=true

#
# SE VALE 'true' INDICA CHE IL BODY DELLA RICHIESTA SOAP
# DEVE ESSERE PROPAGATO AL BUSINESS 
#
# Può assumere solo i valori boolean true o false
#
channel.webservice.info.body=true

#
# NOME DEL TAG DI ROOT RESTITUITO DALLA RISPOSTA 
# DEL METODO BUSINESS CHE SI DEVE ASPETTARE
# IL TRANSFORMER
#
# ATTENZIONE: dalla release 1.1.15 non viene piu'
#             considerata questa proprieta'!! 
#
#channel.webservice.response.root=response

#
# SE VALE 'true' INDICA CHE I TAG FIGLI DELLA RISPOSTA
# DEL METODO DI BUSINESS DEVONO AVERE IL NAMESPACE
#
# Può assumere solo i valori boolean true o false
#
channel.webservice.response.child.namespace=true

#
# ALIAS DEL NAMESPACE DELL'ELEMENTO <envelope> DEL MESSAGGIO SOAP  
#     (inserito per compatibilità applicativi legacy)
#
# Se non presente il default è "soapenv".
#
#channel.webservice.namespace.alias = SOAP-ENV

#
# GESTORI DEI MAPPING DEGLI OGGETTI CUSTOM
#
# LA FORMA DELLA PROPERTIES E':
#	channel.mapper.type.custom.<alias>=<nome della classe>
#
#channel.mapper.type.custom.CITTADINO=it.lispa.example.translator.CittadinoTypeTranslator

# INIZIO CONFIGURAZIONE JMS
#
# NOME DELLA INITIAL FACTORY JNDI, DIPENDE DALL'APPLICATION SERVER
#
channel.jms.context.jndi.factory=weblogic.jndi.WLInitialContextFactory

#
# URL DELLA PORTA DALLA QUALE REPERIRE LA FACTORY
#	
channel.jms.context.provider.url=t3://host:7001

#
# NOME DELLA CONNECTION FACTORY
#
channel.jms.factory=weblogic.examples.jms.QueueConnectionFactory

#
# NOME DELLA DESTINATION DEL CONSUMER
#
channel.jms.destination.name=weblogic.examples.jms.exampleQueue

#
# FILTRO IN NOTAZIONE SQL92 (opzionale)
#
#channel.jms.destination.filter= UDGretryLimit > 0

#
# NOME DELLA CLASSE CHE IMPLEMENTA IL CHANNEL JMS
#
channel.jms.class=org.underground.library.jms.consumer.channel.BaseJMSChannel

#
# ACTION DI DEFAULT DA INVOCARE PER OGNI INCOMING MESSAGE
#	
channel.jms.default.action=test

#
# SE VALE 'true' INDICA CHE L'IL MESSAGGIO JMS
# DEVE ESSERE PROPAGATO AL BUSINESS 
#
# Può assumere solo i valori boolean true o false 
#	
channel.jms.info.message=true

#
# NOME DELLA CLASSE CHE IMPLEMENTA org.underground.library.jms.consumer.channel.JMSErrorManager (opzionale)
#
channel.jms.error.handler=org.underground.library.jms.consumer.channel.support.WeblogicErrorManager

#
# NOME DELLA DESTINAZIONE DI ERRORE 
#
channel.jms.error.destination=weblogic.examples.jms.errorQueue


