aop.facade=org.underground.module.aop.base.AopFacadeImpl
aop.service=org.underground.module.aop.base.AopServiceImpl
proxy.type=CGLIB
cglib.proxy=org.underground.module.aop.base.proxy.CGLIBProxyImpl
interceptor.repository=org.underground.module.aop.base.config.XMLInterceptorRepository
interceptor.config.file=interceptor.xml
interceptor.config.path=underground/aop/