html,body {
    height: 100%;
}

.loginScreen{
	background-image: url(../images/login-background.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.loginForm .btn {
    color: #fff;
    background-color: #297A38;
    border-color: #1F5B2A;
    width: auto;
    margin: 0 auto;	
}

.loginForm {
  padding: 20px 40px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: 3px 3px 8px #ccc; 
  background: white;
  
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loginForm .images{
  margin-bottom: 15px;
  white-space: nowrap;  
}

.loginForm #polarionImg{
	margin-left:10px;
}

.loginForm .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.loginForm .form-control:focus {
  z-index: 2;
}
.loginForm input#eme-login-username {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.loginForm input#eme-login-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

