underground.logging.factory.name=it.lispa.siss.library.log.utils.Log4jFactory
underground.logging.log.name=org.underground.library.logging.support.Log4jLogger
underground.logging.log4j.file=ope_fse_log4j.xml
application.logging.levelSystemProperty=level_log
application.logging.directorySystemProperty=ope_log
