factory.mbean.classname=org.underground.module.ioc.base.config.mbean.IocConfigurator
factory.service.configuration.path=sinapse_underground/ioc/
factory.service.classname=org.underground.module.ioc.base.factory.XMLServiceFactory
factory.service.configuration.filename=repository.xml|webservice.xml|service.xml|factory_fse.xml|factory_sa.xml


